.hero-section {
	background: linear-gradient(to bottom, transparent 0%, var(--bg) 100%),
		url(../../../images/home-bg.png) top;

	width: 100%;
	position: relative;
	top: -90px;

	.hero-container {
		width: 80%;
		height: 100vh;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		h1 {
			font-size: 200rem;
			line-height: 150px;
		}
		p {
			margin-top: 50rem;
			font-size: 40rem;
		}
	} //end hero container

	.right {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1;

		img {
			width: 90%;
			// height: 100%;
		}
	}
}
