.resume {
	width: 100%;
	padding: 100px 0;
	overflow: hidden;

	.content {
		width: 80%;
		margin: auto;
	}

	h2 {
		font-size: 200rem;
	}
}

@media (max-width: 1050px) {
	.resume {
		h2 {
			font-size: 150rem;
		}
	}
}

@media (max-width: 768px) {
	.resume {
		width: 90%;
		h2 {
			font-size: 100rem;
		}
	}
}

@media (max-width: 468px) {
	.resume {
		width: 90%;
		h2 {
			font-size: 70rem;
		}
	}
}
